:root{
    --primary: #084887ff;
    --primary-light: #A3ADCC;
    --secondary: #f58a07ff;
    --secondary-light: #f9ab55ff;
    --neutral: #f7f5fbff;
    --default-font: 'Candal', sans-serif;
    --question-color: #a8d0fd;
    --navigation-bar-background: white;
}

body {
    margin: 0;
    padding: 0;
}



*{
    font-family: var(--default-font), sans-serif;
}

button:hover {
    cursor: pointer;
}

.shake {
    animation: shake 0.5s both normal;
}

@keyframes shake {
    20%, 50% {
        transform: translateX(-2px);
    }
    25%, 75% {
        transform: translateX(2px);
    }
}

